In [1]:
#cargar datos
import pandas as pd
file_path = "/content/drive/MyDrive/Colab_Notebooks/data/POC_DQX_2.csv"
data = pd.read_csv(file_path, delimiter=';', header=None )

<ipython-input-1-8710f9ea38c3>:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, delimiter=';', header=None )

In [2]:
data

                               0                        1  2         3
0           ETH_L2_AirCo_Pro_Tot  2022-12-31 04:09:13.000  0         0
1           ETH_L2_AirCo_Pro_Tot  2023-01-02 17:35:08.000  0         1
2           ETH_L2_AirCo_Pro_Tot  2023-01-02 17:35:09.000  0         3
3           ETH_L2_AirCo_Pro_Tot  2023-01-02 17:35:10.000  0         5
4           ETH_L2_AirCo_Pro_Tot  2023-01-02 17:35:18.000  0         6
...                          ...                      ... ..       ...
14847647  ETH2_L2_LAVG_TT001_TQ2  2023-01-19 23:59:48.000  0  57,69676
14847648  ETH2_L2_LAVG_TT001_TQ2  2023-01-19 23:59:55.000  0  57,69314
14847649  ETH2_L2_LAVG_TT001_TQ2  2023-01-19 23:59:56.000  0  57,69676
14847650  ETH2_L2_LAVG_TT001_TQ2  2023-01-19 23:59:57.000  0  57,69314
14847651  ETH2_L2_LAVG_TT001_TQ2  2023-01-20 00:00:01.000  0  57,69676

[14847652 rows x 4 columns]

In [3]:
data.rename(columns={0: 'equipo', 1: 'time', 2: 'smt', 3:'num'}, inplace=True)

# Seleccionamos los datos del modelo 1

In [4]:
mod1_df=data[data['equipo'].str.contains('ETH_L2_AirCo|ETH_L2_Dpltz_P_Caixa')]

In [ ]:
mod1_df['equipo'].value_counts()

ETH_L2_AirCo_Pro_Tot        515090
ETH_L2_AirCo_Rej_Tot         67180
ETH_L2_AirCo_REJ_AIRC        35755
ETH_L2_Dpltz_P_Caixa         27877
ETH_L2_AirCo_REJ_ESPUMA      14513
ETH_L2_AirCo_REJ_TAMPA        3761
ETH_L2_AirCo_REJ_MAT_SUS      3169
ETH_L2_AirCo_REJ_SAM           214
ETH_L2_AirCo_REJ_COR             5
Name: equipo, dtype: int64

In [ ]:
import pickle
mod1_df.to_pickle('mod1_subset.pkl')

# Seleccionamos variables para modelo 2

In [5]:
mod2= ['ETH_L2_Ench_B120_PIT', 'ETH_L2_Med_T_C2Mix','ETH_L2_Med_V_C2Mix','ETH_L2_Mixer_KB_103_QIT',
      'ETH_L2_Mixer_KB_121_TT','ETH_L2_Mixer_REC_ATV','ETH_L3_Ench_VELOCIDADE','ETH_L3_Med_T_C2Mix',
      'ETH_L3_Med_V_C2Mix','ETH_L3_Mixer_KB_103_QIT','ETH_L3_Mixer_KB_121_TT','ETH_L3_Mixer_KB_140_TT',
      'ETH_L4_MED_T_C2MIX','ETH_L4_MED_V_C2MIX','ETH_L4_MIXER_KB_841_QIT','ETH_Util_Vazao_FIT16_TOT',
      'ETH_Util_Vazao_FIT17_TOT']
mod2_mask= data['equipo'].str.contains('|'.join(mod2))
mod2_df= data[mod2_mask]
mod2_df['equipo'].value_counts()

ETH_L3_Mixer_KB_121_TT      1549803
ETH_Util_Vazao_FIT16_TOT    1457861
ETH_L3_Mixer_KB_103_QIT      646574
ETH_L4_MIXER_KB_841_QIT      596482
ETH_L2_Mixer_KB_103_QIT      532908
ETH_L3_Med_V_C2Mix           493690
ETH_L2_Ench_B120_PIT         117147
ETH_L4_MED_V_C2MIX           100534
ETH_L3_Ench_VELOCIDADE        33962
ETH_L2_Mixer_KB_121_TT         3885
ETH_L3_Med_T_C2Mix             2875
ETH_L3_Mixer_KB_140_TT         2838
ETH_L2_Med_T_C2Mix             2162
ETH_L4_MED_T_C2MIX              150
ETH_L2_Med_V_C2Mix               54
ETH_L2_Mixer_REC_ATV             28
ETH_Util_Vazao_FIT17_TOT         16
Name: equipo, dtype: int64

In [8]:
mod2_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5540969 entries, 1309489 to 7843044
Data columns (total 4 columns):
 #   Column  Dtype
---  ------  -----
 0   equipo  object
 1   time    object
 2   smt     int64
 3   num     object
dtypes: int64(1), object(3)
memory usage: 211.4+ MB

In [6]:
mod2_df.sample(n=15, random_state=21)

                           equipo                     time  smt        num
6385157    ETH_L3_Mixer_KB_121_TT  2023-01-02 03:20:47.000    0   21,19869
6515633    ETH_L3_Mixer_KB_121_TT  2023-01-03 22:22:27.000    0   13,39947
5152083   ETH_L2_Mixer_KB_103_QIT  2023-01-04 22:13:23.000    0   7,538522
5617964    ETH_L3_Ench_VELOCIDADE  2023-01-05 23:34:42.000    0      31100
5283741   ETH_L2_Mixer_KB_103_QIT  2023-01-10 11:26:20.000    0   7,699274
6329749    ETH_L3_Mixer_KB_121_TT  2023-01-01 11:21:36.000    0   18,72553
3242473  ETH_Util_Vazao_FIT16_TOT  2023-01-14 07:48:10.000    0    660,009
7789906    ETH_L3_Mixer_KB_121_TT  2023-01-19 09:29:40.000    0    27,7006
4421732   ETH_L4_MIXER_KB_841_QIT  2023-01-10 12:05:28.000    0   3,109395
7551660    ETH_L3_Mixer_KB_121_TT  2023-01-16 13:16:55.000    0   25,99747
7083763    ETH_L3_Mixer_KB_121_TT  2023-01-10 20:42:35.000    0   23,73822
3480427  ETH_Util_Vazao_FIT16_TOT  2023-01-17 05:07:27.000    0   2953,622
4514106   ETH_L4_MIXER_KB_841_QIT  2023-01-13 07:56:27.000    0  0,3647955
2349009  ETH_Util_Vazao_FIT16_TOT  2023-01-03 16:32:30.000    0     6471,3
4333541   ETH_L4_MIXER_KB_841_QIT  2023-01-07 21:27:00.000    0  0,4012763

In [ ]:
import pickle
mod2_df.to_pickle('mod2_subset.pkl')